@font-face {
font-family: 'Uni Sans Heavy';
src: url('../fonts/UniSansHeavy.eot');
src: url('../fonts/UniSansHeavy.eot?#iefix') format('embedded-opentype'),
url('../fonts/UniSansHeavy.woff') format('woff'),
url('../fonts/UniSansHeavy.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: "BebasRegular";
	src: url("../fonts/BebasRegular.eot");
	src: url("../fonts/BebasRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BebasRegular.woff") format("woff"),
	url("../fonts/BebasRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.welcome {
	width: 100%;
	height: 100vh;
  background-color: #02071c;
  animation-duration: 2s;
	display: block;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7 {
	font-size: 7.5vw;
  font-family: 'Uni Sans Heavy';
  transition: all 0.3s ease;
}

@keyframes count {
from{
	opacity: 100%;
}
to{
	opacity: 0;
}
}

.sum {
	opacity: 50%;
}

.count {
	position: absolute;
	color: #06fcfc;
  font-size: 6vw;
  font-family: 'Uni Sans Heavy' ;
	transform: rotate(45deg);
	margin-left: 34vw;
	margin-top: 10vw;
}

.b17 {
  animation-name: count;
}

@keyframes ticket {
from{
	opacity: 100%;
}
to{
	opacity: 0;
}
}

.ticket {
	position: absolute;
	color: #06fcfc;
  font-size: 3vw;
  font-family: 'Uni Sans Heavy';
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	animation-duration: 5s;
	margin-left: 29vw;
	margin-top: 14vw;
}

.b16 {
  animation-name: ticket;
}

.img3 {
	position: absolute;
	width: 22vw;
	transform: rotate(45deg);
	margin-top: 27vw;
	margin-left: 22vw;
}

.img1 {
	position: absolute;
	width: 18vw;
	transform: rotate(45deg);
	margin-top: 37.5vw;
	margin-left: 53.5vw;
}

@keyframes anim12 {
from {
	margin-top: 7.1vw;
	margin-left: 53.5vw;
	transform: rotate(45deg);
}
to {
	margin-top: 44.5%;
  margin-left: 58.5%;
	transform: rotate(0deg);
	font-size: 1.3vw;
	width: 18%;
	height: 6%;
	line-height: 1.4vw;
}
}

.p12 {
  position: absolute;
	font-size: 1.2vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #ff00e7;
	font-weight:lighter;
	animation-name: littletext;
	animation-fill-mode:forwards;
	position: absolute;
	width: 13vw;
	height: 5vw;
	margin-top: 7.1vw;
	margin-left: 53.5vw;
	animation-duration: 5s;
	text-align: right;
	/* line-height: 19px; */
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b12 {
  animation-name: anim12;
}

@keyframes anim11 {
from {
	margin-top: 41.5vw;
	margin-left: -1vw;
	transform: rotate(45deg);
}
to {
	margin-top: 37%;
  margin-left: 21%;
	transform: rotate(0deg);
	font-size: 1.1vw;
	width: 18%;
}
}

.p11 {
	position: absolute;
	font-size: 1.4vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
	width: 25vw;
	height: 10vw;
	margin-top: 41.5vw;
	margin-left: -1vw;
	animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b11 {
  animation-name: anim11;
}

@keyframes anim10 {
from {
	margin-top: 49.5vw;
	margin-left: 42vw;
	transform: rotate(45deg);
}
to {
	margin-top: 15%;
  margin-left: 21%;
	transform: rotate(0deg);
	font-size: 1.5vw;
	line-height: 1.6vw;
	width: 18%;
}
}

.p10 {
	position: absolute;
	font-size: 1.3vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
	width: 20vw;
	height: 5vw;
	margin-top: 49.5vw;
	margin-left: 42vw;
	animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b10 {
  animation-name: anim10;
}

@keyframes anim9 {
from {
	margin-top: 32vw;
  margin-left: 59vw;
	transform: rotate(45deg);
}
to {
	margin-top: 7.5%;
  margin-left: 54%;
	transform: rotate(0deg);
	font-size: 1.6vw;
	width: 30%;
	line-height: 1.7vw;
}
}

.p9 {
	position: absolute;
	font-size: 1.4vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	font-weight:lighter;
	animation-fill-mode:forwards;
	position: absolute;
  width: 30vw;
  height: 10vw;
  margin-top: 32vw;
  margin-left: 59vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	animation-name: pp9;
}

.b9 {
  animation-name: anim9;
}

@keyframes anim8 {
from {
	margin-top: 7.5vw;
  margin-left: 77vw;
	transform: rotate(45deg);
}
to {
	margin-top: 29%;
  margin-left: 86%;
	transform: rotate(270deg);
	width: 13vw;
	height: 28vw;
	font-size: 1.5vw;
}
}

.p8 {
	position: absolute;
	font-size: 1vw;
	font-family: 'BebasRegular';
	text-transform: uppercase;
	color: #06fcfc;
	animation-fill-mode:forwards;
	position: absolute;
  width: 10vw;
  height: 15vw;
  margin-top: 7.5vw;
  margin-left: 77vw;
  animation-duration: 5s;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b8 {
  animation-name: anim8;
}

@keyframes anim7 {
from {
  margin-top: 9.9vw;
	margin-left: 54vw;
	transform: rotate(45deg);
}
to {
  margin-top: 44%;
	margin-left: 21%;
  transform: rotate(0deg);
}
}

.p7 {
	position: absolute;
	margin-top: 9.8vw;
  animation-duration: 5s;
  margin-left: 54vw;
  color: #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b7 {
  animation-name: anim7;
}

@keyframes anim6 {
from {
  margin-top: 21.7vw;
	margin-left: 24vw;
	transform: rotate(-45deg);
}
to {
  margin-top: 29%;
	margin-left: 21%;
  transform: rotate(0deg);
}
}

.p6 {
	position: absolute;
	margin-top: 21.7vw;
  animation-duration: 5s;
  margin-left: 24vw;
  color: #ff00e7;
	transform: rotate(-45deg);
	animation-fill-mode:forwards;
}

.b6 {
  animation-name: anim6;
}

@keyframes anim5 {
from {
  margin-top: 37.6vw;
	margin-left: 0vw;
	transform: rotate(45deg);
}
to {
  margin-top: 7.5%;
	margin-left: 14%;
  transform: rotate(0deg);
}
}

.p5 {
	margin-top: 37.6vw;
  animation-duration: 5s;
  margin-left: 0vw;
	color: #02071c;
	text-shadow: 0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7,0 0 1px #ff00e7;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	position: absolute;
}

.b5 {
  animation-name: anim5;
}

@keyframes anim4 {
from {
  margin-top: 28vw;
	margin-left: 52vw;
}
to {
  margin-top: 36.5%;
	margin-left: 41%;
  transform: rotate(0deg);
}
}

.p4 {
	margin-top: 28.7vw;
  animation-duration: 5s;
  margin-left: 64vw;
	color: #02071c;
	text-shadow: 0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
	position: absolute;
}

.b4 {
  animation-name: anim4;
}
@keyframes anim3 {
from {
  margin-top: 30vw;
	margin-left: 2.7vw;
}
to {
  margin-left: 0%;
	transform: rotate(270deg);
	animation-fill-mode:forwards;
	margin-top: 28.5%;
}
}

.p3 {
	position: absolute;
	display: block;
	margin-top: 30vw;
  animation-duration: 5s;
  animation-name: p3;
  margin-left: 2.7vw;
	transform: rotate(45deg);
  color: #06fcfc;
	animation-fill-mode:forwards;
}

.b3 {
  animation-name: anim3;
}

@keyframes anim2 {
from {
  margin-top: 43.5vw;
  margin-left: 33vw;
}
to {
  margin-top: 14%;
	margin-left: 80%;
	transform: rotate(270deg);
}
}

.p2 {
	display: block;
	position: absolute;
	margin-top: 43.5vw;
  animation-duration: 5s;
  animation-name: kg;
  margin-left: 46vw;
  color: #06fcfc;
	transform: rotate(45deg);
	animation-fill-mode:forwards;
}

.b2 {
  animation-name: anim2;
}

@keyframes anim {
from {
	margin-top: 10.7vw;
	margin-left: 12vw;
}
to {
  margin-top: 21.5%;
	margin-left: 41%;
	transform: rotate(0deg);
}
}

.p1 {
	position: absolute;
  margin-top: 10.7vw;
	margin-left: 12vw;
	animation-duration: 5s;
	color: #02071c;
	text-shadow: 0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc,0 0 1px #06fcfc;
	transform: rotate(45deg);
  animation-fill-mode:forwards;
}
.b {
  animation-name: anim;
}
